.calendar {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.calendar .date {
  font-size: 4em;
}

.calendar .day {
  font-size: 2em;
}

.calendar .month {
  font-size: 1.5em;
}

.calendar .year {
  font-size: 1.2em;
}